html, body {
  margin: 0;
  padding: 0;


  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;

  
}


/* Wenn das Gerät ins Querformat gedreht wird */
@media screen and (orientation: landscape) {
  body {
    /* Optional: Sperre die Ansicht, damit sich nichts ändert */
    transform: rotate(0deg); /* Kein Rotationseffekt */
    width: 100vh;            /* Höhe und Breite bleiben wie im Hochformat */
    height: 100vw;
    overflow: hidden;
  }
}

/* Standard-Inhalt */
.game-content {
  width: 100%;
  height: 100%;
}

  
canvas {
  display: block;
}


